/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  overflow: hidden;
  height: 100vh;
}
svg {
  cursor: arrow;
}
svg image {
  cursor: pointer;
}
svg .arrow2 {
  cursor: pointer;
}
.article h2 img {
  max-width: 20px;
}
.article h3 img,
.article h2 img,
.article h4 img {
  max-width: 20px;
}
.article img.dst-icon-image,
.article img.src-icon-image {
  max-width: 20px;
}
.arrow2 {
  stroke-width: 3;
  stroke: #000;
  fill: transparent;
}
.arrow2 .mouseover {
  stroke: #f00!important;
}
#arrow {
  stroke-width: 1;
  stroke-dasharray: 0;
  fill: #333;
}
#description {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #EFEFEF;
}
svg text {
  user-select: none;
  /* CSS3 (little to no support) */
  -ms-user-select: none;
  /* IE 10+ */
  -moz-user-select: none;
  /* Gecko (Firefox) */
  -webkit-user-select: none;
  /* Webkit (Safari, Chrome) */
}
#filters {
  background-color: #EFEFEF;
  padding: 6px;
}
.btn.filter {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  display: inline-block;
  color: #333;
  font-size: 9px;
  background: transparent;
  padding: 3px 6px 3px 6px;
  margin: 4px;
  border: solid #333 1px;
  text-decoration: none;
}
.btn.filter.selected {
  background: #333;
  text-decoration: none;
  color: white;
}
