// out: main.css, sourcemap: false, compress: false

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    overflow: hidden;
    height: 100vh
}
#canvas{

}
.article{
    h2{
        img{
            max-width: 20px;
        }
    }
    h3,h2,h4{
        img{
            max-width: 20px;
        }
    }
    img.dst-icon-image, img.src-icon-image{
        max-width: 20px;
    }
}

.arrow2{
    stroke-width:2;
    stroke:#000;
}

 #arrow{
    stroke-width:1;
    stroke-dasharray:0;
    fill:#f00;
}

#description{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #EFEFEF;
}
#description-inner{

}
